@font-face {
	font-family: Kanit;
	src: url("../assets/fonts/Kanit/Kanit-Thin.ttf");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: Kanit;
	src: url("../assets/fonts/Kanit/Kanit-ThinItalic.ttf");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: Kanit;
	src: url("../assets/fonts/Kanit/Kanit-ExtraLight.ttf");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: Kanit;
	src: url("../assets/fonts/Kanit/Kanit-ExtraLightItalic.ttf");
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: Kanit;
	src: url("../assets/fonts/Kanit/Kanit-Light.ttf");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Kanit;
	src: url("../assets/fonts/Kanit/Kanit-LightItalic.ttf");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: Kanit;
	src: url("../assets/fonts/Kanit/Kanit-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Kanit;
	src: url("../assets/fonts/Kanit/Kanit-Italic.ttf");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: Kanit;
	src: url("../assets/fonts/Kanit/Kanit-Medium.ttf");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Kanit;
	src: url("../assets/fonts/Kanit/Kanit-MediumItalic.ttf");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: Kanit;
	src: url("../assets/fonts/Kanit/Kanit-SemiBold.ttf");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: Kanit;
	src: url("../assets/fonts/Kanit/Kanit-SemiBoldItalic.ttf");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: Kanit;
	src: url("../assets/fonts/Kanit/Kanit-Bold.ttf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Kanit;
	src: url("../assets/fonts/Kanit/Kanit-BoldItalic.ttf");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: Kanit;
	src: url("../assets/fonts/Kanit/Kanit-ExtraBold.ttf");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: Kanit;
	src: url("../assets/fonts/Kanit/Kanit-ExtraBoldItalic.ttf");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: Kanit;
	src: url("../assets/fonts/Kanit/Kanit-Black.ttf");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: Kanit;
	src: url("../assets/fonts/Kanit/Kanit-BlackItalic.ttf");
	font-weight: 900;
	font-style: italic;
}
