$primary-light: rgba(0, 5, 41, 0.4);
$primary-semi-dark: rgba(0, 5, 41, 0.9);
$primary-dark: #000529;

$secondary-semi-light: rgba(33, 143, 204, 0.8);
$secondary-light: rgba(33, 143, 204, 0.6);
$secondary-semi-dark: rgba(33, 143, 204, 0.9);
$secondary-dark: rgba(33, 143, 204, 1);

$tertiary-semi-dark: rgba(152, 82, 197, 0.9);
$tertiary-dark: rgba(152, 82, 197, 1);
